<p id="notice"><%= notice %></p>

<h1>V1 Villas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @v1_villas.each do |v1_villa| %>
      <tr>
        <td><%= link_to 'Show', v1_villa %></td>
        <td><%= link_to 'Edit', edit_v1_villa_path(v1_villa) %></td>
        <td><%= link_to 'Destroy', v1_villa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New V1 Villa', new_v1_villa_path %>
